#Assign ownership
README.md @PratyushaSambaru
lead_lag.py @johnjacksonryan
ols.py @johnjacksonryan
performance_evaluation.py @johnjacksonryan
portfolio_construction.py @johnjacksonryan
test_lead_lag.py @johnjacksonryan
data_process.ipynb @PratyushaSambaru
TestData.py @PratyushaSambaru
